<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step10_ajax2.html</title>
</head>
<body>
    <h1>ajax 요청을 통해서 받아온 데이터 사용하기 (검색은 한번만 된다)</h1>
    <div id="app">
        <input type="text" v-model="keyword" placeholder="검색어 입력...">
        <button @click="findClicked">검색</button>
        <br>
        <table>
        	<thead>
        		<tr>
        			<th>번호</th>
        			<th>이름</th>
        			<th>주소</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr v-for="tmp in members" v-bind:key="tmp.num">
        			<td>{{tmp.num}}</td>
        			<td>{{tmp.name}}</td>
        			<td>{{tmp.addr}}</td>
        		</tr>
        	</tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/gura_util.js"></script>
    <script>

        let app=new Vue({
            el:"#app",
            data:{
            	members:[],
                keyword:""
            },
            methods:{
                findClicked(){
                    /*
                        result 는 members 배열에서 특정 아이템만 남겨진 새로운 배열이다.
                    */
                    let result = this.members.filter((item)=>{
                        //이름에서 검색어가 존재하는 인덱스를 찾는다 
                        //검색어가 존재하는 인덱스가 없으면 -1 을 리턴한다.
                        let index=item.name.indexOf(this.keyword);
                        if(index == -1){
                            return false;
                        }else{
                            return true;
                        }
                    });
                    this.members=result;
                }
            },
            // root component 가 준비가 되었을때 호출되는 함수 
            created(){
                //무언가 준비 작업을 여기서 하면된다. 
                console.log("created!");
                //회원목록을 서버에 요청해서 응답되면 화면을 업데이트 한다.
                //this 즉 Vue 객체의 참조값을 self 라는 상수에 담기
                const self=this;
                	
                //gura_util.js 에 있는 함수를 이용해서 ajax 요청하기
                ajaxPromise("http://localhost:8888/spring03/api/member/list.do")
                .then(function(response){
                    return response.json();
                })
                .then(function(data){
                    self.members=data;
                });
            }
        });
    </script>
</body>
</html>